<div class="msg-container black-on-white <%= imageData.orientation %>" >
	<div  class="msg-body">
			<div class="inner output section" >
			
				<h2 style="font-size: <%= topSize %>"
					  class="top" 
						data-fade="2"><%= captionTop %>
				</h2>
			
				<h2 style="font-size: <%= bottomSize %>"
					 	class="bottom" 
						data-fade="4"><%= captionBottom %>
				</h2>
			
				<img src="<%= imageData.small.url %>" />
				
			</div>
			<div class="section">
				<a data-fade="5" class="message-cta" href="http://162.243.72.69:3000">gif-em</a>
				<a data-fade="5" class="message-cta right" href="http://ryanore.com">ryanore.com</a>
			</div>

			
	</div><!-- .msg-body -->
</div>
