<div class="msg-container black-on-white <%= imageData.orientation %>" >
	<div  class="msg-body">
			<div class="inner output" >
			
				<h2 style="font-size: <%= topSize %>"
					  class="top" 
						data-fade="2"><%= captionTop %>
				</h2>
			
				<h2 style="font-size: <%= bottomSize %>"
					 	class="bottom" 
						data-fade="3"><%= captionBottom %>
				</h2>
			
				<img src="<%= imageData.small.url %>" />
				
				<a data-fade="5" class="message-cta" href="/">gif-em.com</a>
				
			</div>
			
	</div><!-- .msg-body -->
</div>
